<a href="https://colab.research.google.com/github/markng788/learningpython/blob/main/python_4_(for_loop).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction to for Loop in Python:

A for loop in Python is used to iterate over a sequence (such as a string, list, or range) and execute a block of code for each item in the sequence. Itâ€™s commonly used when you want to repeat an action multiple times, once for each element in a collection.

In [2]:
name = "Spencer"

In [3]:
# Accesses the character at index 2 of the string

name[2]

'e'

In [4]:
# Iterates over each character in the string

for e in name:
    print(e)

S
p
e
n
c
e
r

In [5]:
# create a list with even numbers

list1 = [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [6]:
# Loops through the list and prints each number.

for item in list1:
    print(item)

4
6
8
10
12
14
16
18
20
22
24
26
28

In [7]:
#create a range object from 0 to 9

range(10)

range(0, 10)

In [8]:
#Iterates through numbers 0 to 9 and prints them
# "item" can be anything (e.g. replaced by abc)

for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [9]:
for abc in range(10):
    print(abc)

0
1
2
3
4
5
6
7
8
9

In [11]:
# range 2 to 31, with step 2

for i in range(2,31,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [12]:
for  e in range(0,10,3):
    print(e)

0
3
6
9

In [13]:
# Print first 10 natural numbers - range 1 to 11 (11 excluded), with step 1

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# Print first ten even numbers

for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [16]:
# Print first ten odd numbers

for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [17]:
# Create a sequence of numbers from 2 to 5, and print each item in the sequence:

for i in range(2,6,1):
    print(i)

2
3
4
5

In [ ]:
# Print first 10 even numbers in reverse order

for i in range(18,-1,-2):
    print(i)

18
16
14
12
10
8
6
4
2
0

To find the factorial of a number.

5! = 5*4*3*2*1 = 120
4! = 4*3*2*1 = 24
3! = 3*2*1= 6
2!= 2*1 = 2
1! = 1
0! = 1
6! = 6*5*4*3*2*1

In [18]:
number = int(input("please enter the number: "))
factorial = 1
for i in range(1,number + 1):
    factorial = factorial * i
print(factorial)

please enter the number5
120